## Breakdown of CSPP holdings by sector and country of risk

<p>The ECB semi-annually publishes the percentage breakdown of their corporate bond purchases for each sector and country of risk. It also publishes the monthly breakdown of historical purchases. </p>

### Import Library

In [1]:
import pandas as pd
import os
from openpyxl import load_workbook
import warnings
warnings.filterwarnings("ignore")
from functions_file_1 import clean_portfolio_value,sector_breakdown,country_breakdown, clean_portfolio_yearly

In [2]:
directory = os.getcwd()
path = directory[:-7] + '2. Data/1. ECB Data/Portfolio Value Information/'
path_2 = directory[:-7] + '2. Data/1. ECB Data/'

### Cumulative historical purchases

<p>The monthly purchases are aggregated semi-annually where A1 in the data represents first half year and A2 represents second half year. The total holdings are in EUR millions and the revenue information collected (later) is in USD. So, the holdings were converted into USD multiplying by a factor of 1.05.</p>

In [3]:
# import the dataset
portfolio_value = pd.read_csv(path + 'CSPP_breakdown_history.csv',skiprows=1,skipfooter=2, engine = 'python')

<p>The monthly purchases are aggregated yearly. </p>

In [4]:
yearly_value_breakdown = clean_portfolio_yearly(portfolio_value)
yearly_value_breakdown.head()

   YEAR  TOTAL_HOLDINGS  TOTAL_HOLDINGS(USD)
0  2017   114630.285714             120362.0
1  2018   160838.500000             168880.0
2  2019   178566.166667             187494.0
3  2020   221303.000000             232368.0
4  2021   283620.416667             297801.0

In [5]:
value_breakdown = clean_portfolio_value(portfolio_value)
value_breakdown.head()

      KEY  TOTAL_HOLDINGS  TOTAL_HOLDINGS(USD)
0  2017A1    96620.000000             101451.0
1  2017A2   117632.000000             123514.0
2  2018A1   149883.833333             157378.0
3  2018A2   171793.166667             180383.0
4  2019A1   177788.500000             186678.0

### Holdings by sector and country of risk

In [6]:
filepath = path + 'CSPP_breakdown_by_sector_rating_country.xlsx'

In [7]:
wb = load_workbook(filepath)
# Name of sheets in the workbook
names = wb.sheetnames

#### Sector

<p>Semi-annual sector breakdown </p>

In [8]:
sector_value = sector_breakdown(filepath,names)

In [9]:
# removing duplicate names
sector_value['ECONOMIC_SECTOR'].mask(sector_value['ECONOMIC_SECTOR'] == 'Food ','Food',inplace=True)
sector_value['ECONOMIC_SECTOR'].mask(sector_value['ECONOMIC_SECTOR'] == 'Construction and materials','Construction & Materials',inplace=True)
sector_value['ECONOMIC_SECTOR'].mask(sector_value['ECONOMIC_SECTOR'] == 'Telecommunications','Telecommunication',inplace=True)

<p>Yearly average sector breakdown </p>

In [10]:
yearly_sector_value = sector_value.copy()
yearly_sector_value['YEAR'] = [x[:4] for x in yearly_sector_value['KEY']]
yearly_sector = yearly_sector_value.groupby(['YEAR','ECONOMIC_SECTOR']).mean()
yearly_sector = yearly_sector.reset_index()

#### Country of risk

<p>Semi-annual country breakdown </p>

In [11]:
country_value = country_breakdown(filepath,names)

<p>Yearly average country breakdown </p>

In [12]:
yearly_country_value = country_value.copy()
yearly_country_value['YEAR'] = [x[:4] for x in yearly_country_value['KEY']]
yearly_country = yearly_country_value.groupby(['YEAR','RISK_COUNTRY']).mean()
yearly_country = yearly_country.reset_index()

### Download files

In [13]:
writer = pd.ExcelWriter(path_2 + 'Portfolio_Breakdown_Information.xlsx', engine='xlsxwriter')

In [14]:
value_breakdown.to_excel(writer, sheet_name='Portfolio_Value',index= None)
yearly_value_breakdown.to_excel(writer, sheet_name='Yearly_Portfolio_Value',index= None)
sector_value.to_excel(writer, sheet_name='Sector_Breakdown', index= None)
country_value.to_excel(writer, sheet_name='Country_Breakdown', index = None)
yearly_sector.to_excel(writer, sheet_name='Yearly_Sector_Breakdown', index= None)
yearly_country.to_excel(writer, sheet_name='Yearly_Country_Breakdown', index = None)

In [15]:
writer.save()