## Company Information Data: Revenue and Industry Classification

<p>The revenue and industry classification information is downloaded from S$&$P Capital IQ Pro Platform. However, KU Leuven did not have access to the API of S$&$P, therefore the data had to be downloaded manually. Only 65,000 rows can be extracted from the online Screener at one time, so we had to repeat the step multiple times.</p>

### Libraries to import

In [1]:
from functions_file_2 import bonds_file, read_file_bonds
import os
import pandas as pd

In [2]:
directory = os.getcwd()
# # path for bonds data
path = directory[:-7] + "2. Data/2. Company Information Data/1. Revenue_information - S & P/"
path_2 = directory[:-7] + "2. Data/2. Company Information Data/2. Industry classification information - S & P/"

### Revenue information file

In [3]:
# REVENUE DATA (2017)- S&P
files_rev = bonds_file(path)

data_2 = []
for f in files_rev:
    data2 = read_file_bonds(f[1],path)
    data_2.append(data2)

data_2 = pd.concat(data_2)

In [4]:
columns = ['ISSUER_NAME','INSTRUMENT_ID','ISIN','AMT_OUTSTANDING','ISSUE_PRICE','ISSUE_AMOUNT','TOTAL_REVENUE','TOTAL_DEBT','TOTAL_PREFERRED_EQUITY','TOTAL_COMMON_EQUITY','TOTAL_MINORITY_INTEREST',
           'MARKET_CAPITALIZATION','MATURITY_DATE']
revenue_data = data_2.copy()
revenue_data.columns = columns
revenue_data.head()

,ISSUER_NAME,INSTRUMENT_ID,ISIN,AMT_OUTSTANDING,ISSUE_PRICE,ISSUE_AMOUNT,TOTAL_REVENUE,TOTAL_DEBT,TOTAL_PREFERRED_EQUITY,TOTAL_COMMON_EQUITY,TOTAL_MINORITY_INTEREST,MARKET_CAPITALIZATION,MATURITY_DATE
0,3 M Srl,SPS545478483,IT0005315558,5.556790,100.0,5.963029,NaN,NaN,NaN,NaN,NaN,NaN,2022-03-31
1,3 M Srl,SPS545478508,IT0005315996,16.670371,100.0,17.492711,NaN,NaN,NaN,NaN,NaN,NaN,2022-03-31
2,4 Madonne Caseificio dell'Emilia Soc Coop Agri...,SPS323723078,IT0005159543,0.000000,100.0,6525.285481,23536.201366,18493.842459,NaN,4018.476225,NaN,NaN,2022-01-27
3,4 Madonne Caseificio dell'Emilia Soc Coop Agri...,SPS715468429,IT0005446007,1111.358080,100.0,1219.512195,23536.201366,18493.842459,NaN,4018.476225,NaN,NaN,2022-05-27
4,A.M.A. S.p.A.,SPS290079605,IT0005104945,0.000000,100.0,13683.010262,NaN,NaN,NaN,NaN,NaN,NaN,2022-02-13

### Industry Classification file

In [5]:
files_industry = bonds_file(path_2)

data_2 = []
for f in files_industry:
    data2 = read_file_bonds(f[1],path_2)
    data_2.append(data2)

data_2 = pd.concat(data_2)
columns = ['ISSUER_NAME','INSTRUMENT_ID','ISIN','PARENT_COMPANY_NAME','ULTIMATE_PARENT_COMPANY','INDUSTRY_CLASSIFICATION','SIC_CODE','MATURITY_DATE']

industry_data = data_2.copy()
industry_data.columns = columns
industry_data.head()

,ISSUER_NAME,INSTRUMENT_ID,ISIN,PARENT_COMPANY_NAME,ULTIMATE_PARENT_COMPANY,INDUSTRY_CLASSIFICATION,SIC_CODE,MATURITY_DATE
0,2Ab Management,SPS333860852,FR0013166550,NaN,NaN,Unclassified,NaN,2034-08-15
1,2i Rete Gas SpA,SPS702250617,XS2292547317,F2i Reti Italia S.r.l.,F2i Reti Italia S.r.l.,Gas Utilities,6719.0,2031-01-29
2,2Worlds S.R.L.,SPS572404182,IT0005337735,NaN,NaN,Unclassified,NaN,2037-01-30
3,2Worlds S.R.L.,SPS572404183,IT0005337743,NaN,NaN,Unclassified,NaN,2037-01-30
4,2Worlds S.R.L.,SPS572404184,IT0005337750,NaN,NaN,Unclassified,NaN,2037-01-30

### Download file

In [6]:
revenue_data.to_excel(directory[:-7] + '2. Data/2. Company Information Data/Combined_Revenue_S&P.xlsx',index = None)

In [7]:
industry_data.to_excel(directory[:-7] + '2. Data/2. Company Information Data/Combined_Industry_S&P.xlsx',index = None)