## CDP Emissions Data, 2017

<p>The Scope 1 and Scope 2 emissions data is collected from CDP for year 2017. The gross global year emissions were used because they correspond to the recent reported year. Location-based Scope 2 emissions were used because they are lots of issues with market-based method. </p>

### Libraries to import

In [1]:
import pandas as pd
import os
from functions_file_3 import clean_scope1, clean_scope2, finalizedata

In [2]:
directory = os.getcwd()
url = directory[:-7] + "2. Data/3. Emissions Data - CDP/GHG_Emissions_Data - CDP/"

### Import Datasets

In [3]:
# Company information in the CDP data
company_info = pd.read_excel(url + "Investor CDP 2017_Public Data (with sector Qs).xlsx", sheet_name = "Summary Data")

In [4]:
# Gross Global Scope 1 and Scope 2 emissions
emissions_scope1 = pd.read_excel(url + "Investor CDP 2017_Public Data (with sector Qs).xlsx", sheet_name = "CC8. Emissions Data",skiprows = 1,header = None)
emissions_scope2 = pd.read_excel(url + "Investor CDP 2017_Public Data (with sector Qs).xlsx", sheet_name = "CC8.3a",skiprows = 2, header = None)

### Preprocessing

In [5]:
info_data = company_info[['account_id','account_name','isin']]
columns = ['ACCOUNT_ID','ACCOUNT_NAME','ISIN']
info_data.columns = columns

In [6]:
scope1_data = clean_scope1(emissions_scope1)
scope2_data = clean_scope2(emissions_scope2)

### Emissions Data for CDP companies

In [7]:
emissions_data = finalizedata(info_data, scope1_data,scope2_data)
emissions_data.head()

,ACCOUNT_ID,ACCOUNT_NAME,ISIN,ACCOUNTING_YEAR,GLOBAL_SCOPE1,GLOBAL_SCOPE2: LOCATION-BASED,GLOBAL_SCOPE2: MARKET-BASED
0,44,3i Group,GB00B1YW4409,2017,191.0,0.0,0.0
1,285,3M Company,US88579Y1010,2016,4140000.0,1840000.0,1780000.0
2,59909,A Schulman Inc,US8081941044,2016,0.0,96.0,0.0
3,1535,A.G. Barr Plc,GB00B6XZKY75,2017,5420.0,8947.0,0.0
4,276,A.P. Moller - Maersk,DK0010244425,2016,35917000.0,252000.0,0.0

### Download file

In [8]:
emissions_data.to_excel(directory[:-7] + "2. Data/3. Emissions Data - CDP/Emissions_Data.xlsx",index = None)